<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="card text-center"">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="url-tab" data-toggle="tab" href="#tinyURL" role="tab" aria-controls="tinyURL" aria-selected="true">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="data-tab" data-toggle="tab" href="#analytics" role="tab" aria-controls="analytics" aria-selected="false">Analytics</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="tinyURL" role="tabpanel" aria-labelledby="url-tab">
          <div class="card-body">
            <h5 class="card-title"> TinyURL for <%= longURL %> </h5>
            <h5 class="card-title"> <a href="/u/<%= shortURL %>"><%= shortURL %></a> </h5>
          </div>
          <div class="card-body">
            <form class="form-inline justify-content-center"  method="POST" action="/urls/<%= shortURL %>?_method=PUT">
              <div class="form-group mb-2">
                <input type="text" readonly class="form-control-plaintext" id="UpdateURL" value="Edit the original URL:">
              </div>
              <div class="form-group mx-sm-3 mb-2" >
                <input type="text" class="form-control" name="longURL" placeholder="http://">
              </div>
              <button type="submit" class="btn btn-outline-primary mb-2">Update</button>
            </form>
          </div>
        </div>
        <div class="tab-pane" id="analytics" role="tabpanel" aria-labelledby="data-tab">
          <div class="card-body">
            <% if (urlAnalytics !== undefined) { %>
              <p> <small class="card-text"> Total visitors: <%= urlAnalytics.count %> </small> </p>
              <p> <small class="card-text"> Unique visitors: <%= urlAnalytics.uniqueCount %>  </small> </p>
        
              <% for (let key in urlAnalytics) { %>
                <% if (key !== 'count' && key !== 'uniqueCount') { %>
              <p> <small class="card-text">Visitor: <%= key %>; Visit Time: <%= urlAnalytics[key] %> </small> </p>
                  <% } %>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>